export WIFI_SSID=__WIFI_SSID__
export WIFI_PASSWORD=__WIFI_PASSWORD__

log_status "WARNING! Setting values manually for esp-idf to save on shell startup time; these may break with upgrades. If so, please rerun $HOME/esp/esp-idf/export.sh and update accordingly"
export IDF_PATH="$HOME/esp/esp-idf"
PATH_add "$HOME/esp/esp-idf/components/esptool_py/esptool"
PATH_add "$HOME/esp/esp-idf/components/espcoredump"
PATH_add "$HOME/esp/esp-idf/components/partition_table"
PATH_add "$HOME/esp/esp-idf/components/app_update"
# These will almost certainly be different on different environments/installs
PATH_add "$HOME/.espressif/tools/xtensa-esp-elf-gdb/11.2_20220808/xtensa-esp-elf-gdb/bin"
PATH_add "$HOME/.espressif/tools/riscv32-esp-elf-gdb/11.2_20220808/riscv32-esp-elf-gdb/bin"
PATH_add "$HOME/.espressif/tools/xtensa-esp32-elf/esp-2022r1-11.2.0/xtensa-esp32-elf/bin"
PATH_add "$HOME/.espressif/tools/xtensa-esp32s2-elf/esp-2022r1-11.2.0/xtensa-esp32s2-elf/bin"
PATH_add "$HOME/.espressif/tools/xtensa-esp32s3-elf/esp-2022r1-11.2.0/xtensa-esp32s3-elf/bin"
PATH_add "$HOME/.espressif/tools/riscv32-esp-elf/esp-2022r1-11.2.0/riscv32-esp-elf/bin"
PATH_add "$HOME/.espressif/tools/esp32ulp-elf/2.28.51-esp-20191205/esp32ulp-elf-binutils/bin"
PATH_add "$HOME/.espressif/tools/esp32s2ulp-elf/2.28.51-esp-20191205/esp32s2ulp-elf-binutils/bin"
PATH_add "$HOME/.espressif/tools/openocd-esp32/v0.11.0-esp32-20220706/openocd-esp32/bin"
PATH_add "$HOME/.espressif/python_env/idf5.0_py3.9_env/bin"
PATH_add "$HOME/esp/esp-idf/tools"
