# Created by https://www.gitignore.io/api/nim
# Edit at https://www.gitignore.io/?templates=nim

### Nim ###
nimcache/

# End of https://www.gitignore.io/api/nim

# SQLite
*.db

# Mac Finder junk
.DS_STORE

# direnv
.envrc

# nimble (when -l)
nimbledeps/

# project binaries
call_status_checker
call_status_cli
web

# misc custom heroku build stuff
.local/bin/
