[Unit]
Description="Consumes" heartbeat from the ESP32 devices.

[Service]
Type=simple
ExecStart=/bin/bash /usr/bin/call_status_heartbeat_consumer.sh
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
