[Unit]
Description=Call Status polling service

[Service]
Type=simple
ExecStart=/usr/bin/call_status.sh poll_statuses
Restart=always
RestartSec=2s

[Install]
WantedBy=default.target
